In [10]:
import pandas as pd 
import numpy as np 
import os 
import gzip

In [11]:
dfs = {}
path = "/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp"
for filename in os.listdir(path):
    filepath = os.path.join(path, filename)
    print(filepath)
    try:
        if filename.endswith('.csv.gz'):
            with gzip.open(filepath, 'rt') as f: 
                df = pd.read_csv(f)
                dfs[filename.replace('.csv.gz', '')] = df
        elif filename.endswith('.csv'):
            df = pd.read_csv(filepath)
            dfs[filename.replace('.csv', '')] = df
    except Exception as e:
         print(f"Failed to load {filename}: {e}")

print(dfs.keys())

/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/d_hcpcs.csv.gz
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/index.html
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/.DS_Store
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/diagnoses_icd.csv.gz
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/emar_detail.csv.gz
Failed to load emar_detail.csv.gz: Compressed file ended before the end-of-stream marker was reached
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/drgcodes.csv.gz
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/d_icd_diagnoses.csv.gz
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/d_labitems.csv.gz
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/admissions.csv.gz
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/hcpcsevents.csv
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/d_icd_procedures.csv.gz
/Users/sahithi/Desktop/Research/physionet.org/files/mimiciv/3.1/hosp/emar.csv.gz
dict_keys(['d_hcpcs', 'diagnoses_icd', 'drgcodes', 'd_icd_diagnoses', 'd_labitems', 'admissions', 'hcpcsevents', 'd_icd_procedures', 'emar'])

In [ ]:
dfs['admissions'].head()
# dfs['d_hcpcs'].head()
# dfs['d_icd_diagnoses'].head()
# dfs['d_icd_procedures'].head()
dfs['d_labitems'].head()

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,language,marital_status,race,edregtime,edouttime,hospital_expire_flag
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P49AFC,TRANSFER FROM HOSPITAL,HOME,Medicaid,English,WIDOWED,WHITE,2180-05-06 19:17:00,2180-05-06 23:30:00,0
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P784FA,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-06-26 15:54:00,2180-06-26 21:31:00,0
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P19UTS,EMERGENCY ROOM,HOSPICE,Medicaid,English,WIDOWED,WHITE,2180-08-05 20:58:00,2180-08-06 01:44:00,0
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P06OTX,EMERGENCY ROOM,HOME,Medicaid,English,WIDOWED,WHITE,2180-07-23 05:54:00,2180-07-23 14:00:00,0
4,10000068,25022803,2160-03-03 23:16:00,2160-03-04 06:26:00,NaN,EU OBSERVATION,P39NWO,EMERGENCY ROOM,NaN,NaN,English,SINGLE,WHITE,2160-03-03 21:55:00,2160-03-04 06:26:00,0

In [7]:
dfs['d_labitems'].head()

   itemid                                label  fluid   category
0   50801           Alveolar-arterial Gradient  Blood  Blood Gas
1   50802                          Base Excess  Blood  Blood Gas
2   50803  Calculated Bicarbonate, Whole Blood  Blood  Blood Gas
3   50804                 Calculated Total CO2  Blood  Blood Gas
4   50805                    Carboxyhemoglobin  Blood  Blood Gas

In [ ]:
# Admission Table: for each admission have info about diagnosis, the labbs, the tests run and whatever information
for row,entry in